<div class="container">

  <div class="row">
    
    <div class=" col-xs-10 col-sm-10 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-4">
      <!-- Media top -->
      <div *ngFor="let s of smallDatas">

         <div *ngIf="(uid != s.uid)">

        <div  id="mediaDiv" class="media">
          <div class="media-left media-middle">
            <a href="javascript:void(0)"><img id="mediaImage" src="http://localhost:8080/zuul-profileStock/single/photoCode/{{s.photoCode}}" class="media-object"></a>
          </div>
          <div class="media-body">

            <a id="userName" *ngIf="s.userName" href="javascript:void(0)" >{{s.userName}}</a>
            
            <a id="userEmail" *ngIf="(!s.userName && s.email)" href="javascript:void(0)" >{{s.email}}</a>
          

            <p  id="workedPlaces" *ngIf="s.workPlace">Worked at : {{s.workPlace}}</p>
          
            <p id="workedPlaces">120 mutual friends</p>
          
            <p id="addFriendText" class="btn btn-primary">Add Friends</p>
            <p id="remove" class="btn btn-default">Remove</p>
          
          
        </div>
     </div>
      </div>


    </div>
  </div> 
</div>