<div class="container">

  <div class="row">
    <!----------------------------------workplace-start-here------------------------------->
    <p id="heading">Workplace</p>
    
    <!--start-edit-workplace-modal -->

    <ng-template #editWorkplace>
      <div id="editWorkplaceModalHeader" class="modal-header">
        <h4 class="modal-title">Notice and save modal carefully </h4>
      </div>
      <div class="modal-body">

        <input type="hidden" [(ngModel)]="workplace.id">

        <div id="workplaceForm">
          <mat-form-field id="workPlaceMatField">
            <textarea matInput placeholder="Workplace" type="text" autocomplete="off"
              [(ngModel)]="workplace.workPlace"></textarea>
          </mat-form-field>
        </div>

        <button id="editWorkplaceModalSaveBtn" class="btn btn-default" [disabled]="!workplace.workPlace"
          (click)="saveWorkplace()" (click)="workplaceRefresh()" (click)="modalRef.hide()">Save</button>
        <button id="editWorkplaceModalCloseBtn" class="btn btn-default" (click)="workplaceRefresh()"
          (click)="modalRef.hide()">Close</button>
      </div>
    </ng-template>
    <!--end-edit-workplace-modal -->
    <!--start-workplaces-show-->
    <div id="workplaceDiv">

      <div class="well">
      <div *ngFor="let w of workplaces">

          <a href="javascript:void(0)" target="_blank">{{w.workPlace}}</a>
          <!--option template-->
          <ng-template ngIf="true">
            <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
              (mouseenter)="matMenuTrigger.openMenu()">
              Options<span class="caret"></span>
            </button></a>
            <mat-menu #oauth="matMenu" [overlapTrigger]="false">
              <div (mouseleave)="matMenuTrigger.closeMenu()">
                <button mat-menu-item (click)="getWorkplaceById(w.id)" (click)="openModal(editWorkplace)">Edit</button>
                <button mat-menu-item (click)="getWorkplaceById(w.id)"
                (click)="openModal(deleteWorkplace)">Delete</button>
                
              </div>
            </mat-menu>
          </ng-template>
       
        <!--DELETE-MODAL-->

        <ng-template #deleteWorkplace>
          <div id="editWorkplaceModalHeader" class="modal-header">
            <h4 class="modal-title">Notice carefully </h4>
          </div>
          <div id="deleteWorkplaceModalBody" class="modal-body">
            <p>Do you want to delete ? {{workplace.workPlace}}</p>
          </div>
          <button id="deleteWorkplaceModalBtn" class="btn btn-default" (click)="deleteWorkplaceById(workplace.id)"
          (click)="workplaceRefresh()"  (click)="modalRef.hide()">Yes</button>
          <button id="deleteWorkplaceModalCloseBtn" class="btn btn-default" (click)="workplaceRefresh()"
            (click)="modalRef.hide()">No</button>
        </ng-template>
      </div>
      </div>
      </div>
   
    <br>
    <button id="workplaceEditButton" mat-raised-button (click)="openModal(editWorkplace)">Add
        Workplaces </button>
    <hr>
  


     <!--------------------------professionalskill-start-here--------------------------->
     <p id="heading">Professional Skills</p>
    
     <!--start-edit-college-modal -->
 
     <ng-template #editProfessionalSkills>
       <div id="editProfessionalSkillsModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="professionalSkill.id">
 
         <div id="professionalSkillsForm">
           <mat-form-field id="professionalSkillsMatField">
             <textarea matInput placeholder="ProfessionalSkills" type="text" autocomplete="off"
               [(ngModel)]="professionalSkill.professionalSkill"></textarea>
           </mat-form-field>
         </div>
 
         <button id="editProfessionalSkillsModalSaveBtn" class="btn btn-default" [disabled]="!professionalSkill.professionalSkill"
           (click)="saveProfessionalSkills()" (click)="ProfessionalSkillsRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editProfessionalSkillsModalCloseBtn" class="btn btn-default" (click)="ProfessionalSkillsRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-ProfessionalSkills-modal -->
     <!--start-ProfessionalSkills-show-->
     <div id="professionalSkillsDiv">
 <div class="well">
       <div *ngFor="let p of professionalSkills">
         <a href="javascript:void(0)" target="_blank">{{p.professionalSkill}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getProfessionalSkillsById(p.id)" (click)="openModal(editProfessionalSkills)">Edit</button>
               <button mat-menu-item (click)="getProfessionalSkillsById(p.id)"
                 (click)="openModal(deleteProfessionalSkills)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteProfessionalSkills>
           <div id="editProfessionalSkillsModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteProfessionalSkillsModalBody" class="modal-body">
             <p>Do you want to delete ? {{professionalSkill.professionalSkill}}</p>
           </div>
           <button id="deleteProfessionalSkillsModalBtn" class="btn btn-default" (click)="deleteProfessionalSkillsById(professionalSkill.id)"
           (click)="ProfessionalSkillsRefresh()"  (click)="modalRef.hide()">Yes</button>
           <button id="deleteProfessionalSkillsModalCloseBtn" class="btn btn-default" (click)="ProfessionalSkillsRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="professionalSkillsEditButton" mat-raised-button  (click)="openModal(editProfessionalSkills)">Add
      Professional Skills </button>
     <hr>
     <hr>




     <!---------------------------college-start-here------------------------------------>
     <p id="heading">College</p>
     
     <!--start-edit-college-modal -->
 
     <ng-template #editCollege>
       <div id="editCollegeModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="college.id">
 
         <div id="collegeForm">
           <mat-form-field id="collegeMatField">
             <textarea matInput placeholder="College" type="text" autocomplete="off"
               [(ngModel)]="college.college"></textarea>
           </mat-form-field>
         </div>
 
         <button id="editCollegeModalSaveBtn" class="btn btn-default" [disabled]="!college.college"
           (click)="saveCollege()" (click)="CollegeRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editCollegeModalCloseBtn" class="btn btn-default" (click)="CollegeRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-College-modal -->
     <!--start-College-show-->
     <div id="collegeDiv">
 <div class="well">
       <div *ngFor="let c of colleges">
         <a href="javascript:void(0)" target="_blank">{{c.college}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getCollegeById(c.id)" (click)="openModal(editCollege)">Edit</button>
               <button mat-menu-item (click)="getCollegeById(c.id)"
                 (click)="openModal(deleteCollege)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteCollege>
           <div id="editCollegeModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteCollegeModalBody" class="modal-body">
             <p>Do you want to delete ? {{college.college}}</p>
           </div>
           <button id="deleteCollegeModalBtn" class="btn btn-default" (click)="deleteCollegeById(college.id)"
           (click)="CollegeRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteCollegeModalCloseBtn" class="btn btn-default" (click)="CollegeRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="collegeEditButton" mat-raised-button  (click)="openModal(editCollege)">Add
      College </button>
     <hr>
  



     <!---------------------------high-school-start-here------------------------------------>
     <p id="heading">High School</p>
 
     <!--start-edit-high-school-modal -->
 
     <ng-template #editHighSchool>
       <div id="editHighSchoolModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="highSchool.id">
 
         <div id="highSchoolForm">
           <mat-form-field id="highSchoolMatField">
             <textarea matInput placeholder="High School" type="text" autocomplete="off"
               [(ngModel)]="highSchool.highSchool"></textarea>
           </mat-form-field>
         </div>
 
         <button id="editHighSchoolModalSaveBtn" class="btn btn-default" [disabled]="!highSchool.highSchool"
           (click)="saveHighSchool()" (click)="HighSchoolRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editHighSchoolModalCloseBtn" class="btn btn-default" (click)="HighSchoolRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-HighSchool-modal -->
     <!--start-HighSchool-show-->
     <div id="highSchoolDiv">
 <div class="well">
       <div *ngFor="let h of highSchools">
         <a href="javascript:void(0)" target="_blank">{{h.highSchool}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getHighSchoolById(h.id)" (click)="openModal(editHighSchool)">Edit</button>
               <button mat-menu-item (click)="getHighSchoolById(h.id)"
                 (click)="openModal(deleteHighSchool)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteHighSchool>
           <div id="editHighSchoolModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteHighSchoolModalBody" class="modal-body">
             <p>Do you want to delete ? {{highSchool.highSchool}}</p>
           </div>
           <button id="deleteHighSchoolModalBtn" class="btn btn-default" (click)="deleteHighSchoolById(highSchool.id)"
           (click)="HighSchoolRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteHighSchoolModalCloseBtn" class="btn btn-default" (click)="HighSchoolRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="highSchoolEditButton" mat-raised-button  (click)="openModal(editHighSchool)">Add
      High School </button>
     <hr>
     




     <!---------------------------current-city-start-here------------------------------------>
     <p id="heading">Current City</p>
    
     <!--start-edit-current-city-modal -->
 
     <ng-template #editCurrentCity>
       <div id="editCurrentCityModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="currentCity.id">
 
         <div id="currentCityForm">
           <mat-form-field id="currentCityMatField">
             <textarea matInput placeholder="Current City" type="text" autocomplete="off"
               [(ngModel)]="currentCity.currentCity"></textarea>
           </mat-form-field>
         </div>
 
         <button id="editCurrentCityModalSaveBtn" class="btn btn-default" [disabled]="!currentCity.currentCity"
           (click)="saveCurrentCity()" (click)="CurrentCityRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editCurrentCityModalCloseBtn" class="btn btn-default" (click)="CurrentCityRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-CurrentCity-modal -->
     <!--start-CurrentCity-show-->
     <div id="currentCityDiv">
 <div class="well">
       <div *ngFor="let h of currentCities">
         <a href="javascript:void(0)" target="_blank">{{h.currentCity}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getCurrentCityById(h.id)" (click)="openModal(editCurrentCity)">Edit</button>
               <button mat-menu-item (click)="getCurrentCityById(h.id)"
                 (click)="openModal(deleteCurrentCity)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteCurrentCity>
           <div id="editCurrentCityModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteCurrentCityModalBody" class="modal-body">
             <p>Do you want to delete ? {{currentCity.currentCity}}</p>
           </div>
           <button id="deleteCurrentCityModalBtn" class="btn btn-default" (click)="deleteCurrentCityById(currentCity.id)"
           (click)="CurrentCityRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteCurrentCityModalCloseBtn" class="btn btn-default" (click)="CurrentCityRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="currentCityEditButton" mat-raised-button  (click)="openModal(editCurrentCity)">Add
      Current City </button>
     <hr>
     



     <!---------------------------home-town-start-here------------------------------------>
     <p id="heading">Home Town</p>
    
     <!--start-edit-home-town-modal -->
 
     <ng-template #editHomeTown>
       <div id="editHomeTownModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="homeTown.id">
 
         <div id="homeTownForm">
           <mat-form-field id="homeTownMatField">
             <textarea matInput placeholder="Home Town" type="text" autocomplete="off"
               [(ngModel)]="homeTown.homeTown"></textarea>
           </mat-form-field>
         </div>
 
         <button id="editHomeTownModalSaveBtn" class="btn btn-default" [disabled]="!homeTown.homeTown"
           (click)="saveHomeTown()" (click)="HomeTownRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editHomeTownModalCloseBtn" class="btn btn-default" (click)="HomeTownRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-HomeTown-modal -->
     <!--start-HomeTown-show-->
     <div id="homeTownDiv">
 <div class="well">
       <div *ngFor="let h of homeTowns">
         <a href="javascript:void(0)" target="_blank">{{h.homeTown}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getHomeTownById(h.id)" (click)="openModal(editHomeTown)">Edit</button>
               <button mat-menu-item (click)="getHomeTownById(h.id)"
                 (click)="openModal(deleteHomeTown)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteHomeTown>
           <div id="editHomeTownModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteHomeTownModalBody" class="modal-body">
             <p>Do you want to delete ? {{homeTown.homeTown}}</p>
           </div>
           <button id="deleteHomeTownModalBtn" class="btn btn-default" (click)="deleteHomeTownById(homeTown.id)"
           (click)="HomeTownRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteHomeTownModalCloseBtn" class="btn btn-default" (click)="HomeTownRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="homeTownEditButton" mat-raised-button  (click)="openModal(editHomeTown)">Add
      Home Town </button>
     <hr>
  




     <!---------------------------other-places-lived-start-here------------------------------------>
     <p id="heading">Other Places Lived</p>
   
     <!--start-edit-other-places-lived-modal -->
 
     <ng-template #editOtherPlacesLived>
       <div id="editOtherPlacesLivedModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="otherPlacesLived.id">
 
         <div id="OtherPlacesLivedForm">
           <mat-form-field id="otherPlacesLivedMatField">
             <textarea matInput placeholder="Other Places Lived" type="text" autocomplete="off"
               [(ngModel)]="otherPlacesLived.otherPlacesLived"></textarea>
           </mat-form-field>
         </div>
 
         <button id="editOtherPlacesLivedModalSaveBtn" class="btn btn-default" [disabled]="!otherPlacesLived.otherPlacesLived"
           (click)="saveOtherPlacesLived()" (click)="OtherPlacesLivedRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editOtherPlacesLivedModalCloseBtn" class="btn btn-default" (click)="OtherPlacesLivedRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-OtherPlacesLived-modal -->
     <!--start-OtherPlacesLived-show-->
     <div id="otherPlacesLivedDiv">
 <div class="well">
       <div *ngFor="let h of otherPlacesLiveds">
         <a href="javascript:void(0)" target="_blank">{{h.otherPlacesLived}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getOtherPlacesLivedById(h.id)" (click)="openModal(editOtherPlacesLived)">Edit</button>
               <button mat-menu-item (click)="getOtherPlacesLivedById(h.id)"
                 (click)="openModal(deleteOtherPlacesLived)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteOtherPlacesLived>
           <div id="editOtherPlacesLivedModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteOtherPlacesLivedModalBody" class="modal-body">
             <p>Do you want to delete ? {{otherPlacesLived.otherPlacesLived}}</p>
           </div>
           <button id="deleteOtherPlacesLivedModalBtn" class="btn btn-default" (click)="deleteOtherPlacesLivedById(homeTown.id)"
           (click)="OtherPlacesLivedRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteOtherPlacesLivedModalCloseBtn" class="btn btn-default" (click)="OtherPlacesLivedRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="otherPlacesLivedEditButton" mat-raised-button  (click)="openModal(editOtherPlacesLived)">Add
      Other Places Lived </button>
     <hr>
    




     <!---------------------------contact-information-start-here------------------------------------>
     <p id="heading">Contact Information</p>
    
     <!--start-edit-contact-information-modal -->
 
     <ng-template #editContactInformation>
       <div id="editContactInformationModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="contactInformation.id">
 
         <div id="contactInformationForm">
           <mat-form-field id="contactInformationMatField">
             <textarea matInput placeholder="Contact Information" type="text" autocomplete="off"
               [(ngModel)]="contactInformation.contactInformation"></textarea>
           </mat-form-field>
         </div>
 
         <button id="editContactInformationModalSaveBtn" class="btn btn-default" [disabled]="!contactInformation.contactInformation"
           (click)="saveContactInformation()" (click)="ContactInformationRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editContactInformationModalCloseBtn" class="btn btn-default" (click)="ContactInformationRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-ContactInformation-modal -->
     <!--start-ContactInformation-show-->
     <div id="contactInformationDiv">
 <div class="well">
       <div *ngFor="let h of contactInformations">
         <a href="javascript:void(0)" target="_blank">{{h.contactInformation}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getContactInformationById(h.id)" (click)="openModal(editContactInformation)">Edit</button>
               <button mat-menu-item (click)="getContactInformationById(h.id)"
                 (click)="openModal(deleteContactInformation)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteContactInformation>
           <div id="editContactInformationModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteContactInformationModalBody" class="modal-body">
             <p>Do you want to delete ? {{contactInformation.contactInformation}}</p>
           </div>
           <button id="deleteContactInformationModalBtn" class="btn btn-default" (click)="deleteContactInformationById(contactInformation.id)"
           (click)="ContactInformationRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteContactInformationModalCloseBtn" class="btn btn-default" (click)="ContactInformationRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="contactInformationEditButton" mat-raised-button  (click)="openModal(editContactInformation)">Add
      Contact Information </button>
     <hr>
  



     <!---------------------------WebSiteAndSocialLink-start-here------------------------------------>
     <p id="heading">WebSite And Social Link</p>
   
     <!--start-edit-WebSiteAndSocialLink-modal -->
 
     <ng-template #editWebSiteAndSocialLink>
       <div id="editWebSiteAndSocialLinkModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="webSiteAndSocialLink.id">
 
         <div id="webSiteAndSocialLinkForm">
           <mat-form-field id="webSiteAndSocialLinkMatField">
             <textarea matInput placeholder="WebSite And Social Link" type="text" autocomplete="off"
               [(ngModel)]="webSiteAndSocialLink.webSiteAndSocialLink"></textarea>
           </mat-form-field>
         </div>
 
         <button id="editWebSiteAndSocialLinkModalSaveBtn" class="btn btn-default" [disabled]="!webSiteAndSocialLink.webSiteAndSocialLink"
           (click)="saveWebSiteAndSocialLink()" (click)="WebSiteAndSocialLinkRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editWebSiteAndSocialLinkModalCloseBtn" class="btn btn-default" (click)="WebSiteAndSocialLinkRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-WebSiteAndSocialLink-modal -->
     <!--start-WebSiteAndSocialLink-show-->
     <div id="webSiteAndSocialLinkDiv">
 <div class="well">
       <div *ngFor="let h of webSiteAndSocialLinks">
         <a href="javascript:void(0)" target="_blank">{{h.webSiteAndSocialLink}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getWebSiteAndSocialLinkById(h.id)" (click)="openModal(editWebSiteAndSocialLink)">Edit</button>
               <button mat-menu-item (click)="getWebSiteAndSocialLinkById(h.id)"
                 (click)="openModal(deleteWebSiteAndSocialLink)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteWebSiteAndSocialLink>
           <div id="editWebSiteAndSocialLinkModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteWebSiteAndSocialLinkModalBody" class="modal-body">
             <p>Do you want to delete ? {{webSiteAndSocialLink.webSiteAndSocialLink}}</p>
           </div>
           <button id="deleteWebSiteAndSocialLinkModalBtn" class="btn btn-default" (click)="deleteContactInformationById(webSiteAndSocialLink.id)"
           (click)="WebSiteAndSocialLinkRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteWebSiteAndSocialLinkModalCloseBtn" class="btn btn-default" (click)="WebSiteAndSocialLinkRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="webSiteAndSocialLinkEditButton" mat-raised-button  (click)="openModal(editWebSiteAndSocialLink)">Add
      WebSite And Social Link </button>
     <hr>
     

     <!---------------------------BasicInformation-start-here------------------------------------>
     <p id="heading">Basic Information</p>
     
     <!--start-edit-BasicInformation-modal -->
 
     <ng-template #editBasicInformation>
       <div id="editBasicInformationModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="basicInformation.id">
 
         <div id="basicInformationForm">
           <mat-form-field id="basicInformationMatField">
             <textarea matInput placeholder="Basic Information" type="text" autocomplete="off"
               [(ngModel)]="basicInformation.basicInformation"></textarea>
           </mat-form-field>
         </div>
 
         <button id="editBasicInformationModalSaveBtn" class="btn btn-default" [disabled]="!basicInformation.basicInformation"
           (click)="saveBasicInformation()" (click)="BasicInformationRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editBasicInformationModalCloseBtn" class="btn btn-default" (click)="BasicInformationRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-BasicInformation-modal -->
     <!--start-BasicInformation-show-->
     <div id="basicInformationDiv">
 <div class="well">
       <div *ngFor="let h of basicInformations">
         <a href="javascript:void(0)" target="_blank">{{h.basicInformation}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getBasicInformationById(h.id)" (click)="openModal(editBasicInformation)">Edit</button>
               <button mat-menu-item (click)="getBasicInformationById(h.id)"
                 (click)="openModal(deleteBasicInformation)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteBasicInformation>
           <div id="editBasicInformationModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteBasicInformationModalBody" class="modal-body">
             <p>Do you want to delete ? {{basicInformation.basicInformation}}</p>
           </div>
           <button id="deleteBasicInformationModalBtn" class="btn btn-default" (click)="deleteBasicInformationById(basicInformation.id)"
           (click)="BasicInformationRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteBasicInformationModalCloseBtn" class="btn btn-default" (click)="BasicInformationRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="basicInformationEditButton" mat-raised-button  (click)="openModal(editBasicInformation)">Add
      Basic Information </button>
     <hr>
     

     <!---------------------------RelationShip-start-here------------------------------------>
     <p id="heading">RelationShip</p>
    
     <!--start-edit-RelationShip-modal -->
 
     <ng-template #editRelationShip>
       <div id="editRelationShipModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="relationShip.id">
        
          <mat-form-field id="relationShipMatField">
            <mat-select matInput autocomplete="off" placeholder="Relationship Status" [(ngModel)]="relationShip.relationShip">
              <mat-option id="relationShipMatFieldForOptions" value="Single">Single</mat-option>
              <mat-option id="relationShipMatFieldForOptions" value="In a relationship">In a relationship</mat-option>
     
              <mat-option id="relationShipMatFieldForOptions" value="Engaged">Engaged</mat-option>
              <mat-option id="relationShipMatFieldForOptions" value="Married">Married</mat-option>
     
              <mat-option id="relationShipMatFieldForOptions" value="In a civil union">In a civil union</mat-option>
              <mat-option id="relationShipMatFieldForOptions" value="In a domestic partnership">In a domestic partnership</mat-option>
     
              <mat-option id="relationShipMatFieldForOptions" value="In an open relationship">In an open relationship</mat-option>
              <mat-option id="relationShipMatFieldForOptions" value="It's complecated">It's complecated</mat-option>
     
              <mat-option id="relationShipMatFieldForOptions" value="Separated">Separated</mat-option>
              <mat-option id="relationShipMatFieldForOptions" value="Divorced">Divorced</mat-option>
     
     
     
     
            </mat-select>
          </mat-form-field>

       
         <button id="editRelationShipModalSaveBtn" class="btn btn-default" [disabled]="!relationShip.relationShip"
           (click)="saveRelationShip()" (click)="RelationShipRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editRelationShipModalCloseBtn" class="btn btn-default" (click)="RelationShipRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-RelationShip-modal -->
     <!--start-RelationShip-show-->
     <div id="relationShipDiv">
 <div class="well">
       <div *ngFor="let h of relationShips">
         <a href="javascript:void(0)" target="_blank">{{h.relationShip}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getRelationShipById(h.id)" (click)="openModal(editRelationShip)">Edit</button>
               <button mat-menu-item (click)="getRelationShipById(h.id)"
                 (click)="openModal(deleteRelationShip)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteRelationShip>
           <div id="editRelationShipModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteRelationShipModalBody" class="modal-body">
             <p>Do you want to delete ? {{relationShip.relationShip}}</p>
           </div>
           <button id="deleteRelationShipModalBtn" class="btn btn-default" (click)="deleteRelationShipById(relationShip.id)"
           (click)="RelationShipRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteRelationShipModalCloseBtn" class="btn btn-default" (click)="RelationShipRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="relationShipEditButton" mat-raised-button  (click)="openModal(editRelationShip)">Add
      RelationShip </button>
     <hr>
  

     <!---------------------------FamilyMembers-start-here------------------------------------>
     <p id="heading">FamilyMembers</p>
   
     <!--start-edit-FamilyMembers-modal -->
 
     <ng-template #editFamilyMembers>
       <div id="editFamilyMembersModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="familyMember.id">
 
         <div id="familyMembersForm">
           <mat-form-field id="familyMembersMatField">
             <textarea matInput placeholder="FamilyMembers" type="text" autocomplete="off"
               [(ngModel)]="familyMember.familyMembers"></textarea>
           </mat-form-field>
         </div>
 
         <br>
         <div id="familyMembersForm">
           <mat-form-field id="familyMembersMatField">
             <mat-select matInput autocomplete="off" placeholder="Relation Ship" [(ngModel)]="familyMember.relation">
               <mat-option id="familyMembersMatFieldForOptions" value="Father">Father</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="Mother">Mother</mat-option>
            
               <mat-option id="familyMembersMatFieldForOptions" value="Daughter">Daughter</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="Son">Son</mat-option>
            
               <mat-option id="familyMembersMatFieldForOptions" value="Sister">Sister</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="Brother">Brother</mat-option>
            
               <mat-option id="familyMembersMatFieldForOptions" value="Aunt">Aunt</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="Uncle">Uncle</mat-option>
            
               <mat-option id="familyMembersMatFieldForOptions" value="Niece">Niece</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="Nephew">Nephew</mat-option>
            
               <mat-option id="familyMembersMatFieldForOptions" value="Cousin(Femal)">Cousin(Femal)</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="Cousin(male)">Cousin(male)</mat-option>
            
               <mat-option id="familyMembersMatFieldForOptions" value="GrandMother">GrandMother</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="GrandFather">GrandFather</mat-option>
            
               <mat-option id="familyMembersMatFieldForOptions" value="GrandDaughter">GrandDaughter</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="GrandSon">GrandSon</mat-option>
            
               <mat-option id="familyMembersMatFieldForOptions" value="GrandSister">GrandSister</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="StepSister">StepSister</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="StepBrother">StepBrother</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="StepMother">StepMother</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="StepDaughter">StepDaughter</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="StepSon">StepSon</mat-option>
            
               <mat-option id="familyMembersMatFieldForOptions" value="Sister-in-law">Sister-in-law</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="Brother-in-law">Brother-in-law</mat-option>
            
               <mat-option id="familyMembersMatFieldForOptions" value="Mother-in-law">Mother-in-law</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="Father-in-law">Father-in-law</mat-option>
 
               <mat-option id="familyMembersMatFieldForOptions" value="Daughter-in-law">Daughter-in-law</mat-option>
               <mat-option id="familyMembersMatFieldForOptions" value="Son-in-law">Son-in-law</mat-option>
 



            
            
              </mat-select>
           </mat-form-field>
 
         </div>
 

         <button id="editFamilyMembersModalSaveBtn" class="btn btn-default" [disabled]="!(familyMember.familyMembers && familyMember.relation)"
           (click)="saveFamilyMembers()" (click)="FamilyMembersRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editFamilyMembersModalCloseBtn" class="btn btn-default" (click)="FamilyMembersRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-FamilyMembers-modal -->
     <!--start-FamilyMembers-show-->
     <div id="familyMembersDiv">
 <div class="well">
       <div *ngFor="let h of familyMembers">
         <a href="javascript:void(0)" target="_blank"> Name : {{h.familyMembers}} , Relationship :  {{h.relation}}</a>
  
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getFamilyMembersById(h.id)" (click)="openModal(editFamilyMembers)">Edit</button>
               <button mat-menu-item (click)="getFamilyMembersById(h.id)"
                 (click)="openModal(deleteFamilyMembers)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteFamilyMembers>
           <div id="editFamilyMembersModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteFamilyMembersModalBody" class="modal-body">
             <p>Do you want to delete ? Name : {{familyMember.familyMembers}} , Relationship :  {{familyMember.relation}}</p>
           
           </div>
           <button id="deleteFamilyMembersModalBtn" class="btn btn-default" (click)="deleteFamilyMembersById(familyMember.id)"
           (click)="FamilyMembersRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteFamilyMembersModalCloseBtn" class="btn btn-default" (click)="FamilyMembersRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="familyMembersEditButton" mat-raised-button  (click)="openModal(editFamilyMembers)">Add
      Family Members </button>
     <hr>
   


     <!---------------------------FavoriteQuote-start-here------------------------------------>
     <p id="heading">FavoriteQuotes</p>
    
     <!--start-edit-FavoriteQuotes-modal -->
 
     <ng-template #editFavoriteQuotes>
       <div id="editFavoriteQuotesModalHeader" class="modal-header">
         <h4 class="modal-title">Notice and save modal carefully </h4>
       </div>
       <div class="modal-body">
 
         <input type="hidden" [(ngModel)]="favoriteQuote.id">
 
         <div id="favoriteQuotesForm">
           <mat-form-field id="favoriteQuotesMatField">
             <textarea matInput placeholder="FavoriteQuotes" type="text" autocomplete="off"
               [(ngModel)]="favoriteQuote.favoriteQuote"></textarea>
           </mat-form-field>
         </div>
 
         <button id="editFavoriteQuotesModalSaveBtn" class="btn btn-default" [disabled]="!favoriteQuote.favoriteQuote"
           (click)="saveFavoriteQuotes()" (click)="FavoriteQuotesRefresh()" (click)="modalRef.hide()">Save</button>
         <button id="editFavoriteQuotesModalCloseBtn" class="btn btn-default" (click)="FavoriteQuotesRefresh()"
           (click)="modalRef.hide()">Close</button>
       </div>
     </ng-template>
     <!--end-edit-FavoriteQuotes-modal -->
     <!--start-FavoriteQuotes-show-->
     <div id="favoriteQuotesDiv">
 <div class="well">
       <div *ngFor="let h of favoriteQuotes">
         <a href="javascript:void(0)" target="_blank">{{h.favoriteQuote}}</a>
         <!--option template-->
         <ng-template ngIf="true">
           <a><button id="optionsBtn" mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
               (mouseenter)="matMenuTrigger.openMenu()">
               Options<span class="caret"></span>
             </button></a>
           <mat-menu #oauth="matMenu" [overlapTrigger]="false">
             <div (mouseleave)="matMenuTrigger.closeMenu()">
               <button mat-menu-item (click)="getFavoriteQuotesById(h.id)" (click)="openModal(editFavoriteQuotes)">Edit</button>
               <button mat-menu-item (click)="getFavoriteQuotesById(h.id)"
                 (click)="openModal(deleteFavoriteQuotes)">Delete</button>
 
             </div>
           </mat-menu>
         </ng-template>
         <!--DELETE-MODAL-->
 
         <ng-template #deleteFavoriteQuotes>
           <div id="editFavoriteQuotesModalHeader" class="modal-header">
             <h4 class="modal-title">Notice carefully </h4>
           </div>
           <div id="deleteFavoriteQuotesModalBody" class="modal-body">
             <p>Do you want to delete ? {{favoriteQuote.favoriteQuote}}</p>
           </div>
           <button id="deleteFavoriteQuotesModalBtn" class="btn btn-default" (click)="deleteFavoriteQuotesById(favoriteQuote.id)"
           (click)="FavoriteQuotesRefresh()" (click)="modalRef.hide()">Yes</button>
           <button id="deleteFavoriteQuotesModalCloseBtn" class="btn btn-default" (click)="FavoriteQuotesRefresh()"
             (click)="modalRef.hide()">No</button>
         </ng-template>
       </div>
       </div>
     </div>
     <br>
     <button id="favoriteQuotesEditButton" mat-raised-button  (click)="openModal(editFavoriteQuotes)">Add
      Favorite Quotes </button>
     <hr>
     


  </div>
</div>
