
  /*workplace-form*/
#workplaceForm{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 50%;
  }
#workPlaceMatField{

  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  text-align: center;
}
#workplaceSubmitButton{
 position:absolute;
margin-left: 20px;
margin-top: 23px;

}
#workplaceSaveButton{
  margin-left: 44%;
  width: 6%;
  text-align: center;
}
#workplaceCloseButton{
  margin-left: 1px;
  width: 6%;
  text-align: center;}
#heading{
  font-size: 24px;
  text-align: center;
}
