<div class="container">
  
  <div class="row">
    <!--workplace-start-here-->
    <p id="heading">Workplace</p>
    <hr>
    <a><button  id="workplaceEditButton" mat-raised-button color="primary"
      (click)="openModal(editWorkplace)">Edit </button></a>

 <!--start-edit-workplace-modal -->

 <ng-template #editWorkplace>
  <div id="editWorkplaceModalHeader" class="modal-header">
    <h4 class="modal-title">Notice and save modal carefully </h4>
  </div>
  <div id="workplaceForm">
      <mat-form-field id="workPlaceMatField">
        <textarea matInput placeholder="Workplace" type="text" autocomplete="off"
          [(ngModel)]="workplace.workPlace"></textarea> 
    </mat-form-field>
</div>

    <button id="editWorkplaceModalSaveBtn" class="btn btn-default" [disabled]="!workplace.workPlace"
     (click)="saveWorkplace()" (click)="workplaceRefresh()" (click)="modalRef.hide()">Save</button>
    <button id="editWorkplaceModalCloseBtn" class="btn btn-default"
    (click)="workplaceRefresh()" (click)="modalRef.hide()">Close</button>                                
</ng-template>
<!--end-edit-workplace-modal -->
<!--start-workplaces-show-->
<div id="workplaceDiv">

  <div *ngFor="let w of workplaces">
   <a href="javascript:void(0)" target="_blank">{{w.workPlace}}</a>
  </div>
</div>

</div>
</div>