
  /*workplace-modal*/

  #heading{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  #optionsBtn{
    margin-left: 15px;
  }
  #editWorkplaceModalHeader{
  text-align: center;
}
#workPlaceMatField{

  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  text-align: center;
}

#editWorkplaceModalSaveBtn{
  
    margin-left: 0%;
    width: 50%;
    text-align: center;
  
}
#editWorkplaceModalCloseBtn{
  
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteWorkplaceModalBody{
  text-align: center;
}
#deleteWorkplaceModalCloseBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteWorkplaceModalBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#workplaceEditButton{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}
#workplaceDiv{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}

  /*Professional-Skills-modal*/

  #heading{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  #optionsBtn{
    margin-left: 15px;
  }
  #editProfessionalSkillsModalHeader{
  text-align: center;
}
#professionalSkillsMatField{

  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  text-align: center;
}

#editProfessionalSkillsModalSaveBtn{
  
    margin-left: 0%;
    width: 50%;
    text-align: center;
  
}
#editProfessionalSkillsModalCloseBtn{
  
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteProfessionalSkillsModalBody{
  text-align: center;
}
#deleteProfessionalSkillsModalCloseBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteProfessionalSkillsModalBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#professionalSkillsEditButton{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}
#professionalSkillsDiv{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}
