
  /*workplace-modal*/

  #heading{
    margin-top: 20px;
    font-size: 20px;
    color: darkblue;
    text-align: center;
  }
  #optionsBtn{
    margin-left: 15px;
  }
  #editWorkplaceModalHeader{
  text-align: center;
}
#workPlaceMatField{

  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  text-align: center;
}

#editWorkplaceModalSaveBtn{
  
    margin-left: 0%;
    width: 50%;
    text-align: center;
  
}
#editWorkplaceModalCloseBtn{
  
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteWorkplaceModalBody{
  text-align: center;
}
#deleteWorkplaceModalCloseBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteWorkplaceModalBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#workplaceEditButton{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}
#workplaceDiv{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}

  /*Professional-Skills-modal*/

  #optionsBtn{
    margin-left: 15px;
  }
  #editProfessionalSkillsModalHeader{
  text-align: center;
}
#professionalSkillsMatField{

  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  text-align: center;
}

#editProfessionalSkillsModalSaveBtn{
  
    margin-left: 0%;
    width: 50%;
    text-align: center;
  
}
#editProfessionalSkillsModalCloseBtn{
  
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteProfessionalSkillsModalBody{
  text-align: center;
}
#deleteProfessionalSkillsModalCloseBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteProfessionalSkillsModalBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#professionalSkillsEditButton{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}
#professionalSkillsDiv{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}

  /*College-modal*/

  #optionsBtn{
    margin-left: 15px;
  }
  #editCollegeModalHeader{
  text-align: center;
}
#collegeMatField{

  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  text-align: center;
}

#editCollegeModalSaveBtn{
  
    margin-left: 0%;
    width: 50%;
    text-align: center;
  
}
#editCollegeModalCloseBtn{
  
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteCollegeModalBody{
  text-align: center;
}
#deleteCollegeModalCloseBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteCollegeModalBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#collegeEditButton{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}
#collegeDiv{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}
  /*HighSchool-modal*/

  #optionsBtn{
    margin-left: 15px;
  }
  #editHighSchoolModalHeader{
  text-align: center;
}
#highSchoolMatField{

  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  text-align: center;
}

#editHighSchoolModalSaveBtn{
  
    margin-left: 0%;
    width: 50%;
    text-align: center;
  
}
#editHighSchoolModalCloseBtn{
  
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteHighSchoolModalBody{
  text-align: center;
}
#deleteHighSchoolModalCloseBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#deleteHighSchoolModalBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;

}
#highSchoolEditButton{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}
#highSchoolDiv{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}
