<div class="container">

  <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">


      <div  id="profileImageShowDiv" *ngFor="let photo of profilePhotos">
         
        <img id="profileImageShow" src="http://192.168.1.105:8080/zuul-profileStock/photoCode/single/{{uid}}" class="img-thumbnail" alt="No Image">
       
      </div>
          <!--/--end--profile--image -->
      </div>    

    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
     


      <nav class="navbar navbar-default" role="navigation"><!--/--start--timeline--navbar -->
        <div class="container-fluid">

          <div class="navbar-header">
            <div id="navbarToggleRight">
              <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>


          <div class="collapse navbar-collapse" [collapse]=isCollapsed>
            <ul class="nav navbar-nav">

              <li>
                <a id="profile-text" [routerLink]="['/profile']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">Timeline</a>
              </li>
              <li>
                <a id="message-text" [routerLink]="['/abouteMadal']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">About</a>
              </li>
              <li>
                <a id="active-friends-text" [routerLink]="['/friendsModal']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">Friends</a>
              </li>
              <li>
                <a id="requested-friends-text" [routerLink]="['/photosModal']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">Photos</a>
              </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a id="requested-friends-text" (click)="openModal(template)" href="javascript:void(0)">
                   Add Photo
                </a>
              </li>
              <li>

                <ng-template ngIf="true">
                  <a><button mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger" (mouseenter)="matMenuTrigger.openMenu()">
                      More<span id="caretSize" class="caret"></span>
                    </button></a>
                  <mat-menu #oauth="matMenu" [overlapTrigger]="false">
                    <div (mouseleave)="matMenuTrigger.closeMenu()">
                        <button mat-menu-item [routerLink]="['/videos']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }">Videos</button>
                        <button mat-menu-item [routerLink]="['/musics']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }">Musics</button>
                        <button mat-menu-item [routerLink]="['/sports']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }">Sports</button>
                        <button mat-menu-item [routerLink]="['/books']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }">Books</button>
      
      
                    </div>
                  </mat-menu>
                </ng-template>
              </li>

            </ul>
          </div>
        </div>
      </nav>
      <!--/--end--timeline--navbar -->
    <!--/--add image modal -->
    
      <ng-template #template>
          <div class="modal-header">
              <h4 class="modal-title">Notice and save modal carefully </h4>
             
          </div>
          <div class="modal-body">
              <div id="profileImageSelectButton" class="btn btn-primary">
                  <input type="file" (change)="selectProfileImage($event)">
                </div>
          </div>
          <div class="modal-footer">
            <button [disabled]="!selectedProfileImage" id="deleteBtn"
             class="btn btn-primary" (click)="addProfileImage()" (click)="modalRef.hide()">Save</button>
            <button id="closeBtn" class="btn btn-primary" (click)="selectedProfileImageRefreshToWorkImage()"
             (click)="modalRef.hide()">Close</button>
            
        </div>
      </ng-template>



      <div class="row">
        <div *ngFor="let p of profilePhotos">
            <div  class=" col-sm-4  col-md-4 col-lg-4"> 
                <div class="thumbnail">
                    <p>Apply Date : {{p.lastModifiedDate}}</p>
                    <p>ID : {{p.id}}</p>
                    <p>UID : {{p.uid}}</p>
                    <p>UID : {{p.photoCode}}</p> 
               </div>
            </div>
        </div>
    </div>













    </div>
  </div>

</div>

