.container{
  
  background: rgb(233,235,238);

}

/*PROFILE IMAGE*/
#profileImageShowDiv{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 168px;
  height: 168px;
  background: white;
}
#profileImageShow{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 168px;
  height: 168px;
  margin-top: 20%;
  
}
/*SHOW PROFILE ALL PHOTO*/
#showProfileAllPhotos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/*PROFILE HANDLE BAR*/


  p {
  font-family: Lato;
  }
  
  #home{
  margin-top: 8px;
  color: white;

  }
  #profile-text{
    margin-top: 8px;
    letter-spacing: 1px;
  }
  #message-text{
    margin-top: 8px;
    letter-spacing: 1px;
  }
  #active-friends-text{
    margin-top: 8px;
    letter-spacing: 1px;
  }
  #requested-friends-text{
    margin-top: 8px;
    letter-spacing: 1px;
  }

  #signup{
  margin-top: 8px;
  }
  #signup-text{
    color: white;
  }

  #caretSize{

    border-width: 10px 8px 10px 8px;
    color: blue;
  }
 /*FOR MODAL*/
 p{
  text-align: center;
}

h2{
  text-align: center;
}

#profilePhotoDelete{
  margin-left: 25%;
  width: 50%;
  margin-right: 25%;
  text-align: center;
  background: red;
  color: white;
}






#closeBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;
}
.modal-header{
  background:orangered;
}
.modal-body{
  text-align: center;
  font-size: 18px;
}
.modal-title{
  text-align: center;
  color: white;
}
/*end modal*/

/*add-ProfilePhotoModal*/
#addProfilePhotoModalHeader{
  background: green;
}

#profileImageSelectButton{
  width: 100%;
  padding: 2%;
  background: pink;
}
#addProfilePhotoModalSaveBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;
  background: rgb(241,90,36);
}

#addProfilePhotoModalCloseBtn{
  margin-left: 0%;
  width: 50%;
  text-align: center;
  background: rgb(241,90,36);
}

#addProfilePhotoModal-footer{
  background: none;
}
/* showProfilePhotoDeleteConfirm modal*/



#profilePhotoDeleteConfirm-header{
  background:blue;
  width: 100%;
}

#profilePhotoDeleteConfirm-body{
  align-content: center;
  width: 100%;
}


#showProfilePhotoDeleteConfirm{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: red;
  color: white;
}
#profilePhotoDeleteConfirm{
  background: orangered;
  margin-left: 0%;
  width: 50%;
  text-align: center;
  color: white;
}
#profilePhotoCloseBtnConfirm{
  background: orangered;
  margin-left: 0%;
  width: 50%;
  text-align: center;
  color: white;
}
