<div class="container">

  <div class="row">
    <!--start--profile--image -->
    

      <div id="profileImageShowDiv">
        <div *ngFor="let p of lastProfilePhoto">
          <img id="profileImageShow" src="http://localhost:8080/zuul-profileStock/single/photoCode/{{p.photoCode}}"
            class="img-thumbnail" alt="No Image">
        </div>
      </div>
    
    <!--end--profile--image -->

      <!--start--profile--timeline--nav-bar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

          <div class="navbar-header">
            <div id="navbarToggleRight">
              <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>


          <div class="collapse navbar-collapse" [collapse]=isCollapsed>
            <ul class="nav navbar-nav">

              <li>
                <a id="profile-text" [routerLink]="['/profile']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">Timeline</a>
              </li>
              <li>
                <a id="message-text" [routerLink]="['/about']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">About</a>
              </li>
              <li>
                <a id="active-friends-text" [routerLink]="['/friendsModal']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">Friends</a>
              </li>
              <li>
                <a id="requested-friends-text" (click)="openModal(showAllPhotos)" href="javascript:void(0)">
                  Photos
                </a>
              </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a id="requested-friends-text" (click)="openModal(editPhoto)" href="javascript:void(0)">
                  Edit Photo
                </a>
              </li>
              <li>

                <ng-template ngIf="true">
                  <a><button mat-button [matMenuTriggerFor]="oauth" #matMenuTrigger="matMenuTrigger"
                      (mouseenter)="matMenuTrigger.openMenu()">
                      More<span id="caretSize" class="caret"></span>
                    </button></a>
                  <mat-menu #oauth="matMenu" [overlapTrigger]="false">
                    <div (mouseleave)="matMenuTrigger.closeMenu()">
                      <button mat-menu-item [routerLink]="['/videos']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }">Videos</button>
                      <button mat-menu-item [routerLink]="['/musics']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }">Musics</button>
                      <button mat-menu-item [routerLink]="['/sports']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }">Sports</button>
                      <button mat-menu-item [routerLink]="['/books']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }">Books</button>


                    </div>
                  </mat-menu>
                </ng-template>
              </li>

            </ul>
          </div>
        </div>
      </nav>
     
      <!--end--timeline--navbar -->
      <!--start-add-profile-image-modal -->

      <ng-template #editPhoto>
        <div id="addProfilePhotoModalHeader" class="modal-header">
          <h4 class="modal-title">Notice and save modal carefully </h4>

        </div>
        <div class="modal-body">
          <div id="profileImageSelectButton" class="btn btn-default">
            <input type="file" (change)="selectProfileImage($event)">
          </div>
        </div>
        <div id="addProfilePhotoModal-footer" class="modal-footer">
          <button [disabled]="!selectedProfileImage" id="addProfilePhotoModalSaveBtn" class="btn btn-default" (click)="addProfileImage()"
            (click)="modalRef.hide()">Save</button>
          <button id="addProfilePhotoModalCloseBtn" class="btn btn-default" (click)="selectedProfileImageRefreshToWorkImage()"
            (click)="modalRef.hide()">Close</button>

        </div>
      </ng-template>
      <!--end-add-profile-image-modal -->
      <!--start-show-all-profile-photo-modal-->
      
      <ng-template #showAllPhotos>
        <div class="modal-header">
          <h4 class="modal-title">You Can Delete Any Photo</h4>
          
        </div>
            <div  *ngFor="let p of profilePhotos">
          <div class="modal-body">

            <img id="showProfileAllPhotos" src="http://localhost:8080/zuul-profileStock/photoCode/{{p.photoCode}}"
              class="img-thumbnail" alt="No Image">
              
            
              <button id="profilePhotoDelete" class="btn btn-default"  (click)="openModal(deleteProfilePhotoConfirm)">Delete</button>
            </div>
        
         
          <!--start-delete-profile-photo-confirm-->
          <ng-template #deleteProfilePhotoConfirm>
              <div id="profilePhotoDeleteConfirm-header" class="modal-header">
                <h4 class="modal-title">Notice carefully !!!</h4>
      
              </div>
                <div id="profilePhotoDeleteConfirm-body" class="modal-body">
      
                  <img id="showProfilePhotoDeleteConfirm" src="http://localhost:8080/zuul-profileStock/photoCode/{{p.photoCode}}"
                   class="img-thumbnail" alt="No Image">
                </div>
                <button id="profilePhotoDeleteConfirm" class="btn btn-default" (click)="deleteProfilePhotoById(p.id)"
                (click)="modalRef.hide()">Delete</button>
                <button id="profilePhotoCloseBtnConfirm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
             
                  </ng-template>          
       <!--end-delete-profile-photo-confirm-->
               
                </div>
                
        </ng-template>
      
      <!--end-show-all-profile-photo-modal-->

      <div class="row">
        <div *ngFor="let p of profilePhotos">
          <div class=" col-sm-4  col-md-4 col-lg-4">
            <div class="thumbnail">
              <p>Apply Date : {{p.lastModifiedDate}}</p>
              <p>ID : {{p.id}}</p>
              <p>UID : {{p.uid}}</p>
              <p>UID : {{p.photoCode}}</p>
            </div>
          </div>
        </div>
      </div>













    
  </div>

</div>